.sidebar-about h1 {
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
}

.social {
    margin-right: 15px;
}
@media screen and (max-width: 1040px) { 
    .social {
        float: none;
        margin-right: 0;
    }
    .social a:last-of-type { margin-right: 0 }
}
.social a {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    text-indent: -9999px;
    margin: 0 15px 15px 0;
    opacity: 0.5;
    width: 28px;
    height: 28px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.social a:hover { opacity: 1 }

.social a.twitter {
    background: url('/public/images/social/twitter.png?1385702818') center no-repeat #55cff8;
    border: 1px solid #55cff8;
}
.social a.twitter:hover { border: 1px solid #24c1f6 }

.social a.github {
    background: url('/public/images/social/github.png?1385702818') center no-repeat #afb6ca;
    border: 1px solid #afb6ca;
}
.social a.github:hover { border: 1px solid #909ab6 }

.social a.rss {
    background: url('/public/images/social/rss.png?1385702818') center no-repeat #ef7522;
    border: 1px solid #ef7522;
}
.social a.rss:hover { border: 1px solid #cf5d0f }

.social a.stackoverflow {
    background: url('/public/images/social/stackoverflow.png?1385702818') center no-repeat #c6230b;
    border: 1px solid #c6230b;
}
.social a.stackoverflow:hover { border: 1px solid #961909 }

.post-meta {
    margin-bottom: 1rem;

}

.post-meta span {
  display: inline;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  margin-right: 0.4rem;
  color: #9a9a9a;
}

#tags-list {
    margin-bottom: 3rem;
}

#tags-list li {
    float: left;   
    margin-right: 1.5rem; 
}