<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <h1><a href="/" title="Home • {{ site.title }}">{{ site.title }}</a></h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <ul class="sidebar-nav">
      <li class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}">
        <a href="/" title="Home • {{ site.title }}">Home</a>
      </li>

      {% for node in site.pages %}
        {% if node.title != null and node.layout == "page" and node.exclude == nil %}
          <li class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}">
            <a href="{{ node.url }}" title="{{ node.title }}">{{ node.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    
  <div class="social">      
      <a class="stackoverflow" href="http://stackoverflow.com/users/2071395/erik-schierboom" title="Stack Overflow account">Stack Overflow</a>
      <a class="github" href="https://github.com/erikschierboom" title="GitHub account">GitHub</a>      
      <a class="twitter" href="http://twitter.com/erikschierboom" title="Twitter account">Twitter</a>
      <a class="rss" href="/atom.xml" title="RSS feed">RSS</a>    
  </div>

    <p>&copy; {{ site.time | date: '%Y' }} {{ site.author.name }}</p>
  </div>
</div>
