<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <h1><a href="/" title="Home • {{ site.title }}">{{ site.title }}</a></h1>
      <p id="description" class="lead">{{ site.description }}</p>
    </div>

    <ul class="sidebar-nav">
      <li class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}">
        <a href="/" title="Home • {{ site.title }}">Home</a>
      </li>

      <li class="sidebar-nav-item{% if page.title == "Posts by date" %} active{% endif %}">
        <a href="/posts-by-date/" title="Posts">Posts</a>
      </li>

      <li class="sidebar-nav-item{% if page.title == "About me" %} active{% endif %}">
        <a href="/about/" title="About">About</a>
      </li>

      <li class="sidebar-nav-item{% if page.title == "Software" %} active{% endif %}">
        <a href="/software/" title="Software">Software</a>
      </li>
    </ul>

    <div id="social">      
      <a class="stackoverflow" href="http://stackoverflow.com/users/2071395/erik-schierboom" title="Stack Overflow account"><i class="icon-stackoverflow">Stack Overflow</i></a>
      <a class="github" href="https://github.com/erikschierboom" title="GitHub account"><i class="icon-github">GitHub</i></a>      
      <a class="twitter" href="http://twitter.com/erikschierboom" title="Twitter account"><i class="icon-twitter">Twitter</i></a>
      <a class="rss" href="/atom.xml" title="RSS feed"><i class="icon-rss">RSS</i></a>    
    </div>

    <p id="copyright">&copy; {{ site.time | date: '%Y' }} {{ site.author.name }}</p>
  </div>
</div>
