@mixin icon-social($color, $icon) {  
    background-color: $color;
    border: 1px solid $color;

    .icon {
      @include sprite($icon);
    }
}
 

.sidebar-about h1 {
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
}
 
#social {
    a {
        @include border-radius(50%);
        @include transition(0.3s);
         
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        zoom: 1;
        *display: inline;
        text-indent: -9999px;
        margin: 0 15px 15px 0;
        opacity: 0.5;
        width: 28px; 
        height: 28px;

        &:hover { opacity: 1 }

        i {
            display: block;
            position: relative;
            left: 5px;
            top: 5px;
        }

        &.twitter {
            @include icon-social(#55cff8, $twitter);
        }

        &.github {
            @include icon-social(#afb6ca, $github);
        }

        &.rss {
            @include icon-social(#ef7522, $rss);
        }        

        &.stackoverflow {
            @include icon-social(#c6230b, $stackoverflow);
        }
    } 
} 