.post-meta {
    margin-bottom: 1rem;

    span {
      display: inline;
      margin-top: -.5rem;
      margin-bottom: 1rem;
      margin-right: 0.4rem;
      color: #9a9a9a;
    }
}

.post-date-prefix {
    display: inline-block;
    width: 6rem;
}